<.header>
  New Person
  <:subtitle>Use this form to manage person records in your database.</:subtitle>
</.header>

<.person_form changeset={@changeset} action={~p"/people"} />

<.back navigate={~p"/people"}>Back to people</.back>
