<.header>
  Person <%= @person.id %>
  <:subtitle>This is a person record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/people/#{@person}/edit"}>
      <.button>Edit person</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @person.name %></:item>
  <:item title="Description"><%= @person.description %></:item>
</.list>

<.list_head name="Used by Collections" items={@person.collections} />

<.back navigate={~p"/people"}>Back to people</.back>
